main {
    overflow-x: hidden;

}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*FORMATO DE TÍTULOS*/

.lineh1 {
    text-align: center;
    margin: 60px;
    font-size: 4vmin;

}

h1 {

    display: inline-block;
    position: relative;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;

}

h1::after,
h1::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

h1:hover::before,
h1:hover::after {
    transform: scale(1);
}

h1::before {
    left: -140px;
}

h1::after {
    right: -140px;
}

/*NOSOTROS*/

section {

    margin: 90px auto;
}

.parrafoprimero {

    padding: 20px;
    line-height: 20px;
    text-align: justify;
    margin: 50px 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.nosotros_parrafo {
    color: rgb(7, 7, 7);
}

/*MISIÓN - VISIÓN - CALIDAD */

.line {
    width: 100px;
    height: 7px;
    background-color: rgb(255, 0, 0);
    margin: 100px auto;
    border-radius: 5px;
}

.mision_vision_calidad {
    width: 95%;
}

.mision_vision_calidad {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));

}

.columna {

    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

.columna:hover {
    transform: scale(1.10);
}

.mvc_img img {

    height: 10%;
    width: 50%;
    padding: 10px;

}

h2 {
    border: 5px;
    border-color: black;
    margin: 30px 10px;
    font-size: 20px;
}

.h2p {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

.columna h2 {
    transition: all .13s;
}

.columna :hover h2 {
    color: rgb(255, 0, 0);

}

.banner h3 {
    color: rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
    letter-spacing: 3px;
}

.mvc {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 1px;
    padding: 20px;

}

.banner {
    padding: 1px;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.mision_vision_calidad p {
    color: rgb(99, 7, 7);
}

/*FAVORTIOS*/

.contenedor_items_nos {

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    text-align: center;
    margin: 20px auto;

}


.itemfav img {

    width: 100%;
    height: 100%;
    padding: 20px;
    float: left;
    border-radius: 30px;
    transition: all .5s;

}

.itemfav {
    border-radius: 10px;

}


.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.itemfav figure {
    width: 100%;
    overflow: hidden;

}

.figure_img img {
    margin-bottom: 0px;
}

.itemfav:hover img {
    transform: scale(1.15);
}

.btn {
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 1.1rem 2.5rem;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}